.messages {
    width: 95%;
    margin: 1em auto;
    text-align: left;
    display: block;
    font-weight: bold;
}

.messages-container {
	margin-left: 0;
}

.success, .error {
	font-weight: bold;
}
