@charset "utf-8";

/* Elements */

h1 {
    text-align: left;
}

h2 {
    line-height: 49px;
}

h3 {
    text-align: left;
    margin: 1em auto;
}

p {
    margin: 0.6em auto;
    text-align: justify;
}

dl {
    margin: 0 auto 3em auto;
    text-align: center;
}

dt {
    font-weight: bold;
    text-align: left;
}

dd {
    text-align: left;
}

acronym {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

/* Navigation */
.navbar-brand {
	padding-top: 0;
	margin-left: 0 !important;
}

/** Content **/
.content {
    margin-top: 80px;
}

.breadcrumbs {
	margin-top: 3em;
	margin-bottom: 1em;
}

.description {
	border-style: dotted none none none;
	border-width: 1px;
	padding: 0 2em 20px 0;
	margin: 0 auto;
}

.features {
	width: 90%;
	margin: 5px 0;
}

.centered {
    text-align: center;
}

.google-link {
    margin: 2em auto;
    text-align: center;
}

.image-caption {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
}

.product-arrow {
	margin-top: -69px;
}

.product-row {
	margin-top: 2em;
}

.product-panel {
    margin-left: 3em;
}

.read{
    margin-top: -35px;
}

.arrow{
    margin-left: -35px;
}

.thumbnail {
	margin-left: 12px
}

.product-footer {
    margin-left: -15px;
    margin-right: -15px;
    height: 40px;
    border-top: 0px solid #DDDDDD !important;
}

.product-head {
    margin-left: -15px;
    margin-right: -15px;
}

.product-body {
    margin-left: -15px;
    margin-right: -15px;
}

.product-title {
	font-size: 1.5em !important;
}

/** Footer **/
.footer {
	padding-bottom: 3em;
	padding-top: 2em;
}

.footer p {
	font-size: 0.9em;
}
