.pagination {
    margin: 3em auto;
    display: block;
    clear: both;
}

.pages-container {
    padding-bottom: 0.5em;
}

.page,
.pagination-summary,
.disabled {
    width: 2em;
    display: block;
    float: left;
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin-right: 5px;
    text-decoration: none
}

.pagination-summary {
    width: auto;
}
