{% include 'forms/_label.twig' with {'element': element} %}
<dd>
{% set attribs = element.getAttribs() %}
{% set checkedOptions = {'checkedValue': element.getCheckedValue(), 'uncheckedValue': element.getUncheckedValue()} %}
{{ element.getView().formCheckbox(element.getName(), element.getValue(), attribs, checkedOptions)|raw }}
</dd>
{% include 'forms/_errors.twig' with {'element': element} %}
{% include 'forms/_description.twig' with {'element': element} %}
