{% if element.getMessages()|length > 0 %}
    <div class="form-errors">
        <ul class="error-list">
            {% set errorMessages = element.getMessages() %}
            {% for error in errorMessages %}
                <li class="error-message">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
