{#
 * Helper for input elements of type file
 *
 * This helper is used with Mandragora_Form_Abstract class
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
#}
<div class="form-group">
    {% include 'forms/_label.twig' with {'element': element} %}
    <div class="fileinputs">
        {% set attribs = element.getAttribs() %}
		{% set attribs = attribs|merge({'class': 'form-control'}) %}
        {{ element.getView().formFile(element.getName(), element.getValue(), attribs)|raw }}
    </div>
    {% include 'forms/_errors.twig' with {'element': element} %}
    {% include 'forms/_description.twig' with {'element': element} %}
</div>
