{#
 * Helper for Zend forms.
 *
 * This helper is used with Mandragora_Form_Abstract class
 *
 * @author  LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
#}
{% set attribs = '' %}
{% for attribute, value in element.getAttribs() %}
    {% set attribs = attribs ~ attribute ~ '="' ~ value ~ '" ' %}
{% endfor %}
<form {{ attribs|raw }}>
{% if element.getDisplayGroups()|length < 1 %}
    <dl>
        {% for element in element.getElements() %}
            {% set elementDecorator = element.getDecorator('ViewScript') %}
            {{ elementDecorator.setElement(element).setOption('placement', false).render('') }}
        {% endfor %}
    </dl>
{% else %}
    {% for name, group in element.getDisplayGroups() %}
        <fieldset>
            <legend>{{ translate(element.getDisplayGroup(name).getLegend()) }}</legend>
            {%  set elements = element.getDisplayGroup(name).getElements() %}
            {% for element in elements %}
                {% set elementDecorator = element.getDecorator('ViewScript') %}
                {{ elementDecorator.setElement(element).setOption('placement', false).render('')|raw }}
            {% endfor %}
        </fieldset>
    {% endfor %}
{% endif %}
</form>
