{#
 * Helper for submit buttons.
 *
 * This helper is used with Mandragora_Form_Abstract class
 *
 * @author    LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems 2010-2014
#}
<dt></dt>
<dd>
{% set attribs = element.getAttribs() %}
{% set token = element.initCsrfToken() %}
{{ element.getView().formHidden(element.getName(), element.getValue(), attribs)|raw }}
</dd>
{% if element.getMessages()|length > 0 %}
    <div class="form-errors">
        <ul class="error-list">
            <li class="error-message">{{ translate('bad.token') }}</li>
        </ul>
    </div>
{% endif %}
