{% set label = element.getLabel() %}
{% if label != '' %}
    {% if element.isRequired() %}
        {% set acronym =  '<acronym class="required" title="' ~ translate('required') ~ '">*</acronym>' %}
        {% set label = label ~ ' ' ~ acronym %}
    {% endif %}
    {{ formLabel(element.getName(), label, {'escape' : false}) }}
{% endif %}
