<div class="form-group">
    {% include 'forms/_label.twig' with {'element': element} %}
    {% set attribs = element.getAttribs() %}
    {% set class = element.getAttrib('class') %}
    {% if class %}
        {% set class = class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% set attribs = attribs|merge({'class': class}) %}
    <div class="input-group">
	    <span class="input-group-addon">$</span>
	    {{ element.getView().formText(element.getName(), element.getValue(), attribs)|raw }}
	    <span class="input-group-addon">MXN</span>
    </div>
    {% include 'forms/_errors.twig' with {'element': element} %}
    {% include 'forms/_description.twig' with {'element': element} %}
</div>
