{% include 'forms/_label.twig' with {'element': element} %}
<dd class="multicheckbox">
{% set attribs = element.getAttribs() %}
{% set items = element.getMultioptions() %}
{% set values = element.getValue() %}

<table class="table table-striped table-bordered table-hover">
    <colgroup>
        <col width="60" />
        <col width="580" />
    </colgroup>
{% if items|length == 0 %}
    <tr>
        <td colspan="2" class="empty-list">
            <p>{{ translate(attribs['emptyMessage']) }}</p>
        </td>
    </tr>
</table>
{% else %}
    <tr>
        <th>Agregar</th>
        <th>{{ translate(element.getDescription()) }}</th>
    </tr>
    {% for id, description in items %}
        <tr class="{{ cycle(['even', 'odd'], loop.index0) }}">
            <td>
                {% set checked = '' %}
                {% if id in values %}
                    {% set checked = 'checked="checked"' %}
                {% endif %}
                <p>
                    <input type="checkbox" name="{{ element.getName() }}[]" value="{{ id }}" {{ checked|raw }}>
                </p>
            </td>
            <td><p>{{ description }}</p></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
</dd>
