<div class="form-group">
    {% include 'forms/_label.twig' with {'element': element} %}
    {% set attribs = element.getAttribs() %}
    {{ element.getView().formNote(element.getName(), element.getValue(), attribs)|raw }}
    {% include 'forms/_errors.twig' with {'element': element} %}
    {% include 'forms/_description.twig' with {'element': element} %}
</div>
