<div class="form-group">
    {% include 'forms/_label.twig' with {'element': element} %}
    {% set attribs = element.getAttribs() %}
    {% set attribs = attribs|merge({'class': 'form-control'}) %}
    {{ element.getView().formPassword(element.getName(), element.getValue(), attribs)|raw }}
    {% include 'forms/_errors.twig' with {'element': element} %}
    {% include 'forms/_description.twig' with {'element': element} %}
</div>
