{#
 * Helper for submit buttons.
 *
 * This helper is used with Mandragora_Form_Abstract class
 *
 * @author    LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems 2010-2014
#}
<div class="form-actions">
    {% set attribs = element.getAttribs() %}
    {% set attribs = attribs|merge({'class': 'btn btn-default'}) %}
    {{ element.getView().formSubmit(element.getName(), element.getLabel(), attribs)|raw }}
	<span class="muted help-inline">
        &nbsp;Los campos marcados con
        <acronym class="required" title="Este valor es obligatorio">*</acronym>
        son obligatorios
    </span>
</div>
