<div class="form-group treeview">
    {% include 'forms/_label.twig' with {'element': element} %}
    {% set attribs = element.getAttribs() %}
    {% set options = element.getMultioptions() %}
    {{ element.getView().formTreeMulticheckbox(element.getName(), element.getValue(), attribs, options)|raw }}
    {% include 'forms/_errors.twig' with {'element': element} %}
    {% include 'forms/_description.twig' with {'element': element} %}
</div>
