{{ doctype() }}
<html>
<head>
    {% block title  %}
        {% headTitle('Consorcio Ágata, Los profesionales en básculas').setSeparator(' / ') %}
    {% endblock %}
    {% block links %}
        {%
        bundleLink().prependStylesheet(baseUrl('/styles/jquery/jquery-ui-1.8.13.custom.css'), 'screen, projection')
                    .prependStylesheet(baseUrl('/styles/agata/global.css'), 'screen, projection')
                    .prependStylesheet(baseUrl('/styles/skins/global.css'), 'screen, projection')
                    .prependStylesheet(baseUrl('/styles/bootstrap/bootstrap.min.css'), 'screen, projection')
                    .appendStylesheet(baseUrl('/styles/agata/admin.css'), 'screen, projection')
                    .appendStylesheet(baseUrl('/styles/skins/admin.css'), 'screen, projection')
        %}
    {% endblock %}
    {% include 'includes/_header.twig' %}
</head>
<body>
    <div class="navigation">
		<div class="row">
            {% include 'includes/_admin-navigation.twig' %}
		</div>
    </div>
    <div class="container content">
        <div class="well well-sm">
            {% block content %}{% endblock %}
        </div>
	</div>
	<div class="container footer">
        <div class="row">
            {% include 'includes/_footer-admin.twig' %}
        </div>
    </div>
</body>
</html>
