<aside class="panel panel-default">
    <div class="panel-heading" id="blue">
        <h2 class="panel-title">Facebook</h2>
    </div>
    <ul class="list-group">
        {% for entry in facebookPageFeed('390406104399665') %}
            <li class="list-group-item">{{ entry.getContent()|raw }}</li>
        {% endfor %}
    </ul>
</aside>
