<div class="col-md-12">
    <p class="text-right">
        &copy; 2009-2014 Consorcio Ágata, Los profesionales en básculas. Todos los derechos reservados.
    </p>
    <p class="text-right">Un desarrollo de Mandrágora Web-Based Systems</p>
</div>
{{ bundleScript(true).toString()|raw }}
