{#
 * HTML head section
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
 #}
{% headMeta().appendName('author', 'Mandrágora Web-Based Systems')
             .appendName('copyright', 'Mandrágora Web-Based Systems')
             .appendName('language', 'es-mx') %}
{{ headMeta() }}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% bundleScript().enable()
                 .uiEnable()
                 .setLocalPath(baseUrl('/scripts/jquery/jquery-1.11.0.min.js'))
                 .setUiLocalPath(baseUrl('/scripts/jquery/jquery-ui-1.10.4.min.js')) %}
{% jQuery().addJavascriptFile(baseUrl('/scripts/bootstrap/bootstrap.min.js')) %}
<link href="{{ baseUrl('/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
<link href="{{ baseUrl('/favicon.ico') }}" rel="icon" type="image/x-icon">
