{#
 * Main navigation menu
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
 #}
{% navigation().menu().setPartial('navigation/_menu.twig') %}
{{ navigation().menu().render()|raw }}
