{#}
 * Exception information
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
#}
<h2>Exception Information:</h2>
<p><strong>Class: </strong>{{ exceptionClass }}</p>
<p><strong>File: </strong>{{ exception.getFile() }}</p>
<p><strong>Line: </strong> {{ exception.getLine() }}</p>
<p><strong>Message: </strong>{{ exception.getMessage() }}</p>
<h3>Stack trace:</h3>
<pre class="trace error"><code>{{ exception|raw }}</code></pre>
