{#
 * Request information
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
#}
<h2>Request information:</h2>
<pre class="trace error"><code>{{ requestParams|raw }}</code></pre>
<h3>HTTP response code:</h3>
<pre class="error"><code>{{ httpResponseCode }}</code></pre>
<h3>Client's IP:</h3>
<pre class="error"><code>{{ request.getClientIp() }}</code></pre>
<h3>User Agent:</h3>
<pre class="error"><code>{{ request.getServer('HTTP_USER_AGENT') }}</code></pre>
<h3>Requested URI:</h3>
<pre class="error"><code>{{ url() }}</code></pre>
