{#
 * Shows error page
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
 */
#}
{% extends 'default.twig' %}

{% if ('production' != constant('APPLICATION_ENV')) %}
    {% set title = 'Ha ocurrido un error' %}
{% endif %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {% bundleLink().prependStylesheet(baseUrl('/styles/agata/debug.css'), 'screen, projection') %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
	{% if ('production' != constant('APPLICATION_ENV')) %}
	    {% include 'error/_exception.twig' %}
	    {% include 'error/_request.twig' %}
	{% else %}
	    <p>{{ message }}</p>
	{% endif %}
{% endblock %}
