Exception Information:
Class: {{ exceptionClass }}
File: {{ exception.getFile() }}
Line: {{ exception.getLine() }}
Message: {{ exception.getMessage() }}
Stack trace:
{{ exception|raw }}

Request information:
{{ requestParams|raw }}
HTTP response code:
{{ httpResponseCode }}
Client's IP:
{{ request.getClientIp() }}
User Agent:
{{ request.getServer('HTTP_USER_AGENT') }}
Requested URI:
{{ url() }}
