{#
 * Shows restricted access message
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
#}
{% extends 'default.twig' %}

{% set title = translate('acl.forbiddenAccess') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
	<p>Tu cuenta de usuario no cuenta con los privilegios para ver esta página</p>
{% endblock %}
