{#
 * Show the collection of Trademark objects
 *
 * @author     MMA <misraim.mendoza@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('trademark.action.list') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/tables.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/skins/tables.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
    {%
    jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.confirm.js'))
            .addJavascriptFile(baseUrl('/scripts/agata/pages/trademark/class.list.js'))
            .addOnLoad('var page = new Agata.Pages.Trademark.List();
                        page.init();')
    %}
    <div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
					<h1>
					    {{ title }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
                                'trademark.action.list' : {(translate('page')) : 1},
                                'trademark.action.create' : []
                            }
                        } %}
					</h1>
				</div>
        		<div class="panel-body">
                    {% include 'partials/flash-messages.twig' %}
                    {{ paginationControl(paginator, 'Sliding', 'partials/paginator.twig') }}
                    <table class="table table-striped table-bordered table-hover">
                    {% if items|length == 0 %}
                        <tr>
                            <td colspan="4" class="empty-list">
                                <p>{{ translate('trademark.emptyList') }}</p>
                            </td>
                        </tr>
                    </table>
                    {% else %}
                        <tr>
                            <th colspan="3">Acciones</th>
                            <th>Descripción</th>
                        </tr>
                        {% for trademark in items %}
                            <tr class="{{ cycle(['even', 'odd'], loop.index0) }}">
                                {% set params = {'id' : trademark.id} %}
                                {%
                                set currentActions = {
                                    'trademark.action.delete' : params,
                                    'trademark.action.edit' : params,
                                    'trademark.action.show' : params
                                }
                                %}
                                {%
                                include 'navigation/_actions.twig' with {
                                    'pages' : actions,
                                    'actions' : currentActions,
                                    'decorator' : 'td'
                                }
                                %}
                                <td><p>{{ trademark.name }}</p></td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                    {{ paginationControl(paginator, 'Sliding', 'partials/paginator.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
