{#
 * Show Trademark information
 *
 * @author     MMA <misraim.mendoza@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('trademark.action.show') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/tables.css'), 'screen, projection')
	            .appendStylesheet(baseUrl('/styles/skins/tables.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	{%
	jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.confirm.js'))
	        .addJavascriptFile(baseUrl('/scripts/agata/pages/trademark/class.show.js'))
	        .addOnLoad('var page = new Agata.Pages.Trademark.Show();
	                    page.init();')
	%}
	<div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
					<h1>
					    {{ title }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
            	                'trademark.action.list' : {(translate('page')) : 1},
            	                'trademark.action.create' : [],
            	                'trademark.action.edit' : {'id' : trademark.id},
            	                'trademark.action.show' : {'id' : trademark.id},
            	                'trademark.action.delete' : {'id' : trademark.id},
                            }
                        } %}
					</h1>
				</div>
        		<div class="panel-body">
        	        {% include 'partials/flash-messages.twig' %}
        	        <table class="table table-striped table-bordered table-hover">
        			    <colgroup>
        			        <col width="170px" />
        			        <col width="470px" />
        			    </colgroup>
                        <tr class="odd">
                            <td class="model-property">{{ translate('trademark.field.name') }}</td>
                            <td class="model-value">
        	                   {{ trademark.name|raw }}
                            </td>
                        </tr>
        			</table>
	    		</div>
			</div>
		</div>
	</div>
{% endblock %}
