{% extends 'default.twig' %}

{% block title %}
    {{ parent() }}
	{% headTitle('Nosotros') %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	<h1>Nosotros</h1>
	<div class="row">
    	<div class="col-md-6">
    	    <h2>Historia</h2>
    	    <p>
    	        La empresa tiene sus inicios en un taller peque&ntilde;o en el exmercado La
    	        Victoria, situado en el centro de la ciudad de Puebla, en el a&ntilde;o de 1945, y fue fundada
    	        por el Sr. Arnulfo Morales L. con la fabricaci&oacute;n de romanas de vara.
    	        La empresa tiene la intenci&oacute;n de servir a sus clientes productos que
    	        logren cubrir sus necesidades de pesaje con instrumentos diversos. Contando
    	        con taller de servicio y venta de b&aacute;sculas y balanzas.
    	    </p>
    	    <p class="centered">
    	        <img src="/images/la-victoria.gif" alt="La Victoria" title="La Victoria" />
    	        <span class="image-caption">La Victoria</span>
    	    </p>
    	</div>
    	<div class="col-md-6">
    	    <h2>Misi&oacute;n</h2>
    	    <p class="parrafo">
    	        Nuestra misi&oacute;n es ofrecer productos y servicios de calidad y precisi&oacute;n
    	        que satisfagan las necesidades y seguridad de nuestros clientes que requieran
    	        del uso de b&aacute;sculas y balanzas, rebanadoras y equipo para el comercio.
    	        Apoy&aacute;ndonos en nuestro personal y dando una sobresaliente asesor&iacute;a
    	        y atenci&oacute;n, siempre a un precio justo.
    	    </p>
    	</div>
	</div>
{% endblock %}
