{% extends 'default.twig' %}

{% block title %}
    {{ parent() }}
	{% headTitle('Contacto') %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	<h1>Contacto</h1>
	<div class="row">
	    <div class="col-md-6">
	        <h2>Local Centro</h2>
	        <dl>
	            <dt>Dirección:</dt>
	            <dd>
	                12 PTE. 106 D <br />
	                COL. CENTRO
	            </dd>
	            <dt>Tel./Fax:</dt>
	            <dd>(222) 2-42-38-76</dd>
	            <dt>Correo electrónico</dt>
	            <dd>
	            	<ul>
	            		<li>
	            			<a href="mailto:ventas@agata.com.mx">
	            				ventas@agata.com.mx
	        				</a>
	        			</li>
	    				<li>
	    					<a href="mailto:agataventas@hotmail.com">
	    						agataventas@hotmail.com
	    					</a>
	    				</li>
	    				<li>
	    					<a href="mailto:ventasagata12@hotmail.com">
	    						ventasagata12@hotmail.com
	    					</a>
	    				</li>
	            	</ul>
	        	</dd>
	        </dl>
	        <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
	                src="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;q=12+Poniente+106,+Puebla,+M%C3%A9xico&amp;aq=&amp;sll=40.396764,-3.713379&amp;sspn=7.377287,19.753418&amp;ie=UTF8&amp;geocode=FWWrIgEdv6Ml-g&amp;split=0&amp;hq=&amp;hnear=12+Poniente+106,+Puebla,+M%C3%A9xico&amp;z=14&amp;ll=19.049317,-98.196545&amp;output=embed">
	        </iframe>
	        <p class="google-link">
	            <a href="http://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;q=12+Poniente+106,+Puebla,+M%C3%A9xico&amp;aq=&amp;sll=40.396764,-3.713379&amp;sspn=7.377287,19.753418&amp;ie=UTF8&amp;geocode=FWWrIgEdv6Ml-g&amp;split=0&amp;hq=&amp;hnear=12+Poniente+106,+Puebla,+M%C3%A9xico&amp;z=14&amp;ll=19.049317,-98.196545">
	                Ver mapa más grande
	            </a>
	        </p>
	    </div>
	    <div class="col-md-6">
	        <h2>Local CAPU</h2>
	        <dl>
	            <dt>Dirección:</dt>
	            <dd>
	                CARMEN SERDAN Y BLVD. NORTE <br />
	                CENTRO COMERCIAL DORADA-CAPU
	            </dd>
	            <dt>Tel./Fax:</dt>
	            <dd>(222) 2-20-68-28</dd>
	            <dt>Correo electrónico</dt>
	            <dd>
	            	<ul>
	            		<li>
	    					<a href="mailto:ventas7@agata.com.mx">
	    						ventas7@agata.com.mx
	    					</a>
	    				</li>
	            	</ul>
	        	</dd>
	        </dl>
	        <p>&nbsp;<br />&nbsp;</p>
	        <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
	                src="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=centro+comercial+dorada+capu&amp;aq=&amp;sll=19.074448,-98.202903&amp;sspn=0.008943,0.01929&amp;g=19.074434,-98.203014&amp;ie=UTF8&amp;ll=19.074448,-98.202903&amp;spn=0.008943,0.01929&amp;output=embed">
	        </iframe>
	        <p class="google-link">
	            <a href="http://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=centro+comercial+dorada+capu&amp;aq=&amp;sll=19.074448,-98.202903&amp;sspn=0.008943,0.01929&amp;g=19.074434,-98.203014&amp;ie=UTF8&amp;ll=19.074448,-98.202903&amp;spn=0.008943,0.01929">
	                Ver mapa más grande
	            </a>
	        </p>
	    </div>
	</div>
	<div class="row">
    	<div class="col-md-6">
    		<h2>Compras</h2>
    		<dl>
    			<dt>Correo electrónico</dt>
    	        <dd>
    	        	<ul>
    	        		<li>
    						<a href="mailto:compras@agata.com.mx">
    							compras@agata.com.mx
    						</a>
    					</li>
    	        	</ul>
    	    	</dd>
    		</dl>
    	</div>
    	<div class="col-md-6">
    		<h2>Facebook</h2>
    		<dl>
    			<dt>Fan Page</dt>
    	        <dd>
    	        	<ul>
    	        		<li>
    						<a href="https://www.facebook.com/pages/CONSORCIO-AGATA/182289071837742">
    							CONSORCIO AGATA
    						</a>
    					</li>
    	        	</ul>
    	    	</dd>
    		</dl>
    	</div>
	</div>
{% endblock %}
