{% extends 'default.twig' %}

{% block title %}
    {{ parent() }}
	{% headTitle('Productos') %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	<h1 class="page-header" style="margin-bottom: 1em;">Productos</h1>
	{% for category in categories %}
	{{ cycle(['<div class="row product-row">', ''], loop.index0)| raw }}
	{% set head = cycle(['pink','blue', 'yellow','green'], loop.index0) %}
    <div class="col-md-5 panel panel-default product-panel">
	    <div class="panel-heading product-head" id="{{ head }}">
	        {% set params = {
	                'controller' : 'product',
	                'action' : 'find-by-category',
	                'category' : category.url
	        } %}
	        <a href="{{ url(params, 'web-category') }}" class="category-head">
	            {{ category.name }} ({{  category.productCount }})
	        </a>
	    </div>
	    <div class="panel-body product-body">
		    <p class="thumbnail"><img src="/images/categories/{{ category.image|raw }}"></p>
        </div>
    </div>
    {{ cycle(['', '</div>'], loop.index0)|raw }}
	{% endfor %}
{% endblock %}
