{#
 * Edit Product page
 *
 * @author    LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('offer.action.edit') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/forms.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/skins/forms.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/jquery/plugins/rte.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
    {%
    jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.validate.js'))
            .addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.confirm.js'))
            .addJavascriptFile(baseUrl('/scripts/jquery/plugins/autoNumeric.js'))
            .addJavascriptFile(baseUrl('/scripts/agata/pages/offer/class.detail.js'))
    %}
    {%
    set onload = 'var page = new Agata.Pages.Offer.Detail();
                  page.init();'
    %}
    {% jQuery().addOnLoad(onload) %}
	<div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h1>
    				    {{ title }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
            	                'offer.action.list' : {(translate('page')) : 1},
            	                'offer.action.create' : [],
            	                'offer.action.edit' : {'id' : offer.id},
            	                'offer.action.products' : {'id' : offer.id},
            	                'offer.action.delete' : {'id' : offer.id},
                            }
                        } %}
					</h1>
    			</div>
    			<div class="panel-body">
        	       {{ offerForm.render()|raw }}
    			</div>
    		</div>
    	</div>
	</div>
{% endblock %}
