{#
 * Show the collection of Offer objects
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2011-2014
#}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <colgroup>
            <col width="60" />
            <col width="580" />
        </colgroup>
    {% if items|length == 0 %}
        <tr>
            <td colspan="2" class="empty-list">
                <p>{{ translate('offerProducts.emptyList') }}</p>
            </td>
        </tr>
    </table>
    {% else %}
        <tr>
            <th>Agregar</th>
            <th>Producto</th>
        </tr>
        {% for product in items %}
            <tr class="{{ cycle(['even', 'odd'], loop.index0) }}">
                <td><p><input type="checkbox" name="products[]" value="{{ product.id }}"></p></td>
                <td><p>{{ product.model }}</p></td>
            </tr>
	        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
