{#
 * Show the collection of Offer objects
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('offer.action.list') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/tables.css'), 'screen, projection')
	            .appendStylesheet(baseUrl('/styles/skins/tables.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	{% jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.confirm.js'))
	           .addJavascriptFile(baseUrl('/scripts/agata/pages/offer/class.list.js')) %}
	{% jQuery().addOnLoad(
	    'var page = new Agata.Pages.Offer.List();
	    page.init();'
	) %}
	<div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
					<h1>
                        {{ title }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
                                'offer.action.list' : {(translate('page')) : 1},
                                'offer.action.create' : []
                            }
                        } %}
					</h1>
				</div>
        		<div class="panel-body">
            	    {% include 'partials/flash-messages.twig' %}
            	    {{ paginationControl(paginator, 'Sliding', 'partials/paginator.twig') }}
            	    <table class="table table-striped table-bordered table-hover">
            	    {% if items|length == 0 %}
            	        <tr>
            	            <td colspan="4" class="empty-list">
            	                <p>{{ translate('offer.emptyList') }}</p>
            	            </td>
            	        </tr>
            	    </table>
            	    {% else %}
            	        <tr>
            	            <th colspan="3">Acciones</th>
            	            <th>Inicio</th>
            	            <th>Fin</th>
            	            <th>Tipo</th>
            	        </tr>
            	        {% for offer in items %}
            	            <tr class="{{ cycle(['even', 'odd'], loop.index0) }}">
            	                {% set params = {'id' : offer.id} %}
            	                {% set currentActions = {
            	                    'offer.action.delete' : params,
            	                    'offer.action.edit' : params,
            	                    'offer.action.products' : params
            	                } %}
            	                {% include 'navigation/_actions.twig' with {
            	                        'pages' : actions,
            	                        'actions' : currentActions,
            	                        'decorator' : 'td',
            	                   } %}
            	                <td><p>{{ offer.startDate|date("d/m/Y") }}</p></td>
            	                <td><p>{{ offer.stopDate|date("d/m/Y") }}</p></td>
            	                <td>
            	                   <p>
                                   {% if offer.type == 0 %}
                                       Porcentaje
                                   {% elseif offer.type == 1 %}
                                       Cantidad
                                   {% else %}
                                       Precio especial
                                   {% endif %}
            	                   </p>
                               </td>
            	            </tr>
            	        {% endfor %}
            	        </table>
            	    {% endif %}
            	    {{ paginationControl(paginator, 'Sliding', 'partials/paginator.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
