{#
 * Create Offer page
 *
 * @author    LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('offer.action.products') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/forms.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/skins/forms.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/jquery/plugins/file.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/jquery/plugins/rte.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	{%
	jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.validate.js'))
	        .addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.file.js'))
	        .addJavascriptFile(baseUrl('/scripts/jquery/plugins/autoNumeric.js'))
	        .addJavascriptFile(baseUrl('/scripts/jquery/widget/jquery.ui.ajaxerror.js'))
            .addJavascriptFile(baseUrl('/scripts/jquery/widget/jquery.ui.ajaxloader-1.0.js'))
	        .addJavascriptFile(baseUrl('/scripts/agata/pages/offer/class.products.js'))
    %}
	{%
	set onLoad = 'var page = new Agata.Pages.Offer.OfferProducts();
	              page.init();'
	%}
	{% jQuery().addOnLoad(onLoad) %}
	<div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
					<h1>
					    {{ title }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
            	                'offer.action.list' : {(translate('page')) : 1},
            	                'offer.action.create' : [],
            	                'offer.action.edit' : {'id' : offerId},
            	                'offer.action.products' : {'id' : offerId}
                            }
                        } %}
					</h1>
				</div>
        		<div class="panel-body">
	               {{ offerProductsForm.render()|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
