{#
 * Partial for breadcrumbs
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
#}
{% for page in pages %}
    {% if actions[page.getLabel()] is defined %}
        {% set params = page.setParams(actions[page.getLabel()]) %}
        {% set label = translate(page.getLabel()) %}
        {% set action = page.getAction() %}
        {% set icons = {
            'delete': 'trash',
            'edit': 'pencil',
            'show': 'zoom-in',
            'list': 'list',
            'create': 'plus',
            'products': 'tags'
        } %}
        {% if page.isActive() == false %}
            <td class="action-item">
                <span class="glyphicon glyphicon-{{ icons[action] }}"></span>
                <a href="{{ page.getHref() }}" title="{{ label }}">{{ label }}</a>
            </td>
        {% else %}
            <td class="action-item action-active">
                <span class="glyphicon glyphicon-{{ icons[action] }}"></span> {{ label }}
            </td>
        {% endif %}
    {% endif %}
{% endfor %}
