<div class="btn-group pull-right">
	<button type="button" class="btn btn-default">Acciones</button>
  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Mostrar</span>
  	</button>
	<ul class="dropdown-menu" role="menu">
    	{% for page in pages %}
            {% if actions[page.getLabel()] is defined %}
                {% set params = page.setParams(actions[page.getLabel()]) %}
                {% set label = translate(page.getLabel()) %}
                {% set action = page.getAction() %}
                {% set icons = {
                    'delete': 'trash',
                    'edit': 'pencil',
                    'show': 'zoom-in',
                    'list': 'list',
                    'create': 'plus',
                    'products': 'tags'
                } %}
                <li>
					<a href="{{ page.getHref() }}" title="{{ label }}">
						<span class="glyphicon glyphicon-{{ icons[action] }}"></span> {{ label }}
					</a>
                </li>
            {% endif %}
        {% endfor %}
	</ul>
</div>
