{#
 * Partial for main navigation menu
 *
 * @author     LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2010-2014
#}
<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header logo">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ baseUrl('/') }}" title="Ir a la página de inicio">
		<img src="{{ baseUrl('/images/logo-agata.png') }}" alt="Consorcio Ágata, Los profesionales em básculas">
	  </a>
    </div>
    <div class="collapse navbar-collapse main-menu">
      <ul class="nav navbar-nav pull-right">
		{% for page in container %}
			{% set icon = cycle(['/images/products-icon.png', '/images/email-icon.png', '/images/about-icon.png'], loop.index0) %}
            {% if page.isActive() %}
                <li class="active">
					<a href="{{page.getHref() }}" class="nav-link">
						<span><img style="height: 18px" src="{{ icon }}"></span> {{ page.getLabel() }}
					</a>
				</li>
            {% else %}
                <li>
					<a href="{{page.getHref() }}" class="nav-link">
						<span><img style="height: 18px" src="{{ icon }}"></span> {{ page.getLabel() }}
					</a>
				</li>
            {% endif %}
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
