{% extends 'default.twig' %}

{% if items|length > 0 %}
    {% set title = items[0].category.name %}
{% endif %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/tables.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/skins/tables.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
    {% if  items|length <= 0 %}
	    <h1>Lo lamentamos</h1>
	    <p>Aún no existen productos para la categoría que seleccionó</p>
	{% else %}
	    <h1>{{ title }}</h1>
	    <!-- Start breadcrumbs -->
	    <p class="breadcrumbs">
            {{ (navigation().breadcrumbs(breadcrumbs).setMinDepth(0).setLinkLast(false).setSeparator(' / '))|raw }}
	    </p>
	    <!-- End breadcrumbs -->
	    {{ paginationControl(paginator, 'Sliding', 'partials/paginator.twig') }}
	    {% for product in items %}
	    {% set head = cycle(['pink', 'yellow', 'green','blue'], loop.index0) %}
	    {{ cycle(['<div class="row">', ''], loop.index0)| raw }}
	        <div class="col-md-5 panel panel-default product-panel">
	            <div class="panel-heading product-head" id="{{ head }}">
	               <h2 class="panel-title product-title">{{ product.model }}</h2>
	            </div>
	            <div class="panel-body product-body">
                    <p class="thumbnail">
                        <img src="/images/products/thumbnails/{{ product.image|raw }}" class="img-rounded" />
                    </p>
                    <p>{{ product.features|raw }}</p>
                </div>
                <div class="panel-footer product-footer">
                    <p class="text-right arrow">
                        <img alt="flecha" src="/images/punta_productos.png" class="product-arrow">
	                </p>
	                <p class="text-right read">
	                    {% set params = {
				                'controller' : 'product',
				                'action' : 'find-by-url',
				                'category' : product.category.url,
				                'trademark' : product.trademark.url,
				                'product' : product.url
				        } %}
	                    <a href="{{ url(params, 'web-product') }}" class="read-more">
	                        LEER MÁS
	                    </a>
	                </p>
                </div>
	        </div>
	   {{ cycle(['', '</div>'], loop.index0)|raw }}
	   {% endfor %}
	   {{ paginationControl(paginator, 'Sliding', 'partials/paginator.twig') }}
	{% endif %}
{% endblock %}
