{% extends 'default.twig' %}
{% set title = product.model %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {{ bundleLink() }}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<!-- Start breadcrumbs -->
<p class="breadcrumbs">
    {{ (navigation().breadcrumbs(breadcrumbs).setMinDepth(0).setLinkLast(false).setSeparator(' / '))|raw }}
</p>
<!-- End breadcrumbs -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading product-head" id="blue">
			<h2>Características</h2>
			</div>
			<div class="panel-body product-body">
		        <p class="text-center">
		            <img src="/images/products/detail/{{ product.image|raw }}">
                </p>
			    <p>{{ product.features|raw }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
