@charset "utf-8";

div.fileinputs {
	position: relative;
	overflow: hidden;
	padding-bottom: 10px;
	text-align: left;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	height: 1em;
	
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

.fakefile input {
    margin-top: 7px;
    float: left;
}