@charset "utf-8";

/* Elements */
body {
    background-color: #fff;
}

h1 {
    color: #423694;
}

/*h2 {
    background-color: #eee;
    background-image: url(../../images/background-h2.gif);
    background-repeat: no-repeat;
    background-position: left center;
    border-color: #000;
}*/

/* Navigation */
.logo {
	background-color: #fff;
}

.main-menu {
	background-color: #B5216B;
}

.nav-link {
	color: #fff;
}

.nav-link:hover,
.nav-link:active,
.active {
	background-color: #423694 !important;
	color: #fff !important;
}


/** Content **/
.description {
	background-image: url(../../images/background-description.gif);
    background-repeat: no-repeat;
    background-position: right top;
    border-color: #E77AB0;
}

.read-more {
	color: #4E4E4F;
}

.product-footer {
    background-color: #BFBEBE !important;
}

.product-head {
    color: #fff !important;
}

.category-head {
    color: #fff !important;
}

.product-body {
	background-color: #4E4E4F !important;
	color: #fff !important;
}

#pink {
    background-color: #B5216B !important;
}

#yellow {
    background-color: #FFB247 !important;
}

#green {
    background-color: #377C12 !important;
}

#blue {
    background-color: #423694 !important;
    color: #fff;
}