.page,
.page:visited {
    border: solid 1px #423694;
    background-color: #eee;
    color: #423694;
}

.page:hover {
	border: solid 1px #fff;
    background-color: #423694;
    color: #fff;
    text-decoration: none;
}

.disabled,
.disabled:hover {
	color: #aaa;
	border: solid 1px #aaa;
	background-color: #eee;
}

.current,
.current:hover {
	font-weight: bold;
	border-style: none;
	background-color: #fff;
	color: #423694;
}

.model-property {
    font-weight: bold;
}
