{#
 * Create Product page
 *
 * @author    MMA <misraim.mendoza@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('product.action.create') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/forms.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/skins/forms.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/jquery/plugins/file.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/jquery/plugins/rte.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	{%
	jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.rte.js'))
	        .addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.rtetidy.js'))
	        .addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.validate.js'))
	        .addJavascriptFile(baseUrl('/scripts/jquery/plugins/autoNumeric.js'))
	        .addJavascriptFile(baseUrl('/scripts/jquery/plugins/validate/method.rte.js'))
	        .addJavascriptFile(baseUrl('/scripts/agata/pages/product/class.detail.js'))
    %}
	{%
	set onLoad = 'var page = new Agata.Pages.Product.Detail();
	              page.init("%s", "%s");'|format(baseUrl('/styles/jquery/plugins/rte.css'), baseurl('/images/jquery/plugins/rte/'))
	%}
	{% jQuery().addOnLoad(onLoad) %}
	<div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
					<h1>
					    {{ title }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
                                'product.action.list' : {(translate('page')) : 1},
                                'product.action.create' : []
                            }
                        } %}
					</h1>
				</div>
        		<div class="panel-body">
	               {{ productForm.render()|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
