{#
 * Show the collection of Product objects
 *
 * @author     MMA <misraim.mendoza@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('product.action.list') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/tables.css'), 'screen, projection')
	            .appendStylesheet(baseUrl('/styles/skins/tables.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	{% jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.confirm.js'))
	           .addJavascriptFile(baseUrl('/scripts/agata/pages/product/class.list.js')) %}
	{% jQuery().addOnLoad(
	    'var page = new Agata.Pages.Product.List();
	    page.init();'
	) %}
	<div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
					<h1>
					{{ title }}
					{% include 'navigation/_actions-dropdown.twig' with {
                        'pages' : actions,
                        'actions' : {
                            'product.action.list' : {(translate('page')) : 1},
                            'product.action.create' : []
                        }
                    } %}
					</h1>
				</div>
        		<div class="panel-body">
            	    {% include 'partials/flash-messages.twig' %}
            	    {{ paginationControl(paginator, 'Sliding', 'partials/paginator.twig') }}
            	    <table class="table table-striped table-bordered table-hover">
            	    {% if items|length == 0 %}
            	        <tr>
            	            <td colspan="4" class="empty-list">
            	                <p>{{ translate('product.emptyList') }}</p>
            	            </td>
            	        </tr>
            	    </table>
            	    {% else %}
            	        <tr>
            	            <th colspan="3">Acciones</th>
            	            <th>Descripción</th>
            	            <th>Precio</th>
            	        </tr>
            	        {% for product in items %}
            	            <tr>
            	                {% include 'navigation/_actions.twig' with {
            	                        'pages' : actions,
            	                        'actions' : {
                    	                    'product.action.delete' : {'id' : product.id},
                    	                    'product.action.edit' : {'id' : product.id},
                    	                    'product.action.show' : {'id' : product.id}
                    	                }
            	                } %}
            	                <td><p>{{ product.model }}</p></td>
            	                <td>
            	                   <p>MXN {{ "$ %.2f"|format(product.price) }}</p>
                                </td>
            	            </tr>
            	        {% endfor %}
            	        </table>
            	    {% endif %}
            	    {{ paginationControl(paginator, 'Sliding', 'partials/paginator.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
