{#
 * Show Product information
 *
 * @author     MMA <misraim.mendoza@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('product.action.show') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/tables.css'), 'screen, projection')
	            .appendStylesheet(baseUrl('/styles/skins/tables.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	{% jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.confirm.js'))
	           .addJavascriptFile(baseUrl('/scripts/agata/pages/product/class.show.js')) %}
	{% jQuery().addOnLoad(
	    'var page = new Agata.Pages.Product.Show();
	    page.init();'
	) %}
	<div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
					<h1>
					    {{ translate('product.action.show') }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
            	                'product.action.list' : {(translate('page')) : 1},
            	                'product.action.create' : [],
            	                'product.action.edit' : {'id' : product.id},
            	                'product.action.show' : {'id' : product.id},
            	                'product.action.delete' : {'id' : product.id},
                            }
                        } %}
					</h1>
				</div>
        		<div class="panel-body">
        	        {% include 'partials/flash-messages.twig' %}
        	        <table class="table table-striped table-bordered table-hover">
        			    <colgroup>
        			        <col width="170px" />
        			        <col width="470px" />
        			    </colgroup>
                        <tr class="even">
        		            <td class="model-property">{{ translate('product.field.model') }}</td>
        	                <td class="model-value">{{ product.model|raw }}</td>
        		        </tr>
        		        <tr class="odd">
        		            <td class="model-property">{{ translate('product.field.url') }}</td>
        		            {%
        		            set url = url({
                                'module': 'default',
                                'controller': 'product',
                                'action': 'find-by-url',
                                'product': product.url,
                                'trademark': product.trademark.url,
                                'category': product.category.url
                            }, 'web-product')
        		            %}
        	                <td class="model-value">
        	                   <a href="{{ url|raw }}">{{ url|raw }}</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="model-property">{{ translate('product.field.features') }}</td>
                            <td class="model-value">
        	                    {{ product.features|raw }}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="model-property">{{ translate('product.field.price') }}</td>
                            <td class="model-value">
                                MXN {{ "$ %.2f"|format(product.price) }}
                            </td>
                        </tr>
        	            {% if product.image %}
                        <tr class="even">
                        <td class="model-property">{{ translate('product.field.image') }}</td>
                            <td class="model-value">
        	                   <img src="/images/products/detail/{{ product.image|raw }}">
                            </td>
        		        </tr>
        		        {% endif %}
        			</table>
	    		</div>
			</div>
		</div>
	</div>
{% endblock %}
