{#
 * Create Trademark page
 *
 * @author    MMA <misraim.mendoza@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('category.action.create') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/forms.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/skins/forms.css'), 'screen, projection')
                .appendStylesheet(baseUrl('/styles/jquery/plugins/treeview.css'), 'screen, projection')
	            .appendStylesheet(baseUrl('/styles/jquery/plugins/file.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
	{%
	jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.validate.js'))
	        .addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.treeview.js'))
	        .addJavascriptFile(baseUrl('/scripts/agata/pages/category/class.detail.js'))
	        .addOnLoad('var page = new Agata.Pages.Category.Detail();
	                   page.init();')
	%}
	<div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h1>
                        {{ title }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
                                'category.action.list' : {(translate('page')) : 1},
                                'category.action.create' : []
                            }
                        } %}
					</h1>
    			</div>
        		<div class="panel-body">
        	       {{ categoryForm.render()|raw }}
        		</div>
    		</div>
		</div>
	</div>
{% endblock %}
