{#
 * Show Trademark information
 *
 * @author     MMA <misraim.mendoza@mandragora-web-systems.com>
 * @copyright  Mandrágora Web-Based Systems 2011-2014
#}
{% extends 'admin.twig' %}

{% set title = translate('category.action.show') %}

{% block title %}
    {{ parent() }}
	{% headTitle(title) %}
	{{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/tables.css'), 'screen, projection')
	            .appendStylesheet(baseUrl('/styles/skins/tables.css'), 'screen, projection')
    %}
    {{ bundleLink() }}
{% endblock %}

{% block content %}
    {%
	jQuery().addJavascriptFile(baseUrl('/scripts/jquery/plugins/jquery.confirm.js'))
	        .addJavascriptFile(baseUrl('/scripts/agata/pages/category/class.show.js'))
            .addOnLoad('var page = new Agata.Pages.Category.Show();
	                   page.init();')
	%}
	<div class="row">
		<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
					<h1>
					    {{ translate('category.action.show') }}
						{% include 'navigation/_actions-dropdown.twig' with {
                            'pages' : actions,
                            'actions' : {
            	                'category.action.list' : {(translate('page')) : 1},
            	                'category.action.create' : [],
            	                'category.action.edit' : {'id' : category.id},
            	                'category.action.show' : {'id' : category.id},
            	                'category.action.delete' : {'id' : category.id},
                            }
                        } %}
					</h1>
				</div>
        		<div class="panel-body">
        	        {% include 'partials/flash-messages.twig' %}
                	<table class="table table-striped table-bordered table-hover">
        			    <colgroup>
        			        <col width="170px" />
        			        <col width="470px" />
        			    </colgroup>
                        <tr>
        		            <td class="model-property">{{ translate('category.field.name') }}</td>
        	                <td class="model-value">{{ category.name|raw }}</td>
        		        </tr>
                        {% if category.image %}
                        <tr>
                            <td class="model-property">{{ translate('category.field.image') }}</td>
                            <td class="model-value">
        	                   <img src="/images/categories/{{ category.image|raw }}">
                            </td>
        		        </tr>
        		        {% endif %}
        			</table>
	    		</div>
			</div>
		</div>
	</div>
{% endblock %}
