{#
 * Login page
 *
 * @author    MMA <misraim.mendoza@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems-2014
#}
{% extends 'admin.twig' %}

{% block title %}
    {{ parent() }}
    {% headTitle('Ingresar') %}
    {{ headTitle() }}
{% endblock %}

{% block links %}
    {{ parent() }}
    {%
    bundleLink().appendStylesheet(baseUrl('/styles/agata/forms.css'), 'screen, projection')
	            .appendStylesheet(baseUrl('/styles/skins/forms.css'), 'screen, projection')
    %}
    {{ bundleLink().toString()|raw }}
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Bienvenido</h1>
		</div>
		<div class="panel-body">
    	    {{ loginForm.render()|raw }}
		</div>
	</div>
{% endblock %}
