{#
 * Partial for flash messenger helper messages
 *
 * @author    LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems 2010-2014
#}
{% set namespaces = ['success', 'error'] %}
{% for namespace in namespaces %}
	{% if flashMessenger().hasMessages(namespace) %}
	    <div class="messages">
	        <ul class="messages-container">
	            {% for message in flashMessenger().getMessages() %}
	                <li class="message {{ namespace }}">{{ translate(message) }}</li>
	            {% endfor %}
	        </ul>
	    </div>
	{% endif %}
{% endfor %}
