{#
 * Paginator partial script
 *
 * @author    LMV <luis.montealegre@mandragora-web-systems.com>
 * @copyright Mandrágora Web-Based Systems 2010-2014
#}
{% if pageCount > 1 %}
    <div class="pagination">
        <p class="pages-container">
        <span class="pagination-summary">
            Mostrando productos {{ firstItemNumber }} - {{ lastItemNumber }} de {{ totalItemCount }}
        </span>
        {% set pageParam = translate('page') %}
        <!-- First page link -->
        {% if previous is defined %}
            <a href="{{ url({(pageParam) : first}) }}" title="{{ translate('item.first') }}" class="page">
                &#x00ab;
            </a>
        {% else %}
          <span class="page disabled" title="{{ translate('item.first') }}">&#x00ab;</span>
        {% endif %}
        <!-- Previous page link -->
        {% if previous is defined %}
            <a href="{{ url({(pageParam) : previous}) }}" title="{{ translate('item.prev') }}" class="page">
                &#x2039;
            </a>
        {% else %}
            <span class="page disabled" title="{{ translate('item.prev') }}">
                &#x2039;
            </span>
        {% endif %}
        <!-- Pages in range -->
        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ url({(pageParam) : page}) }}" class="page">
                    {{ page }}
                </a>
            {% else %}
                <span class="page current">{{ page }}</span>
            {% endif %}
        {% endfor %}
        <!-- Next page link -->
        {% if next is defined %}
            <a href="{{ url({(pageParam) : next}) }}" title="{{ translate('item.next') }}" class="page">
                &#x203a;
            </a>
        {% else %}
            <span class="page disabled" title="{{ translate('item.next') }}">
                &#x203a;
            </span>
        {% endif %}
        <!-- Last page link -->
        {% if next is defined %}
            <a href="{{ url({(pageParam) : last}) }}" title="{{ translate('item.last') }}" class="page">
                &#x00bb;
            </a>
        {% else %}
          <span class="page disabled" title="{{ translate('item.last') }}">&#x00bb;</span>
        {% endif %}
        </p>
    </div>
{% endif %}
